<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="https://cdn.turbo360-vertex.com/squaremeals-hdmqb6/public/css/bootstrap.css" type="text/css" />

  <link rel="stylesheet" href="https://cdn.turbo360-vertex.com/squaremeals-hdmqb6/public/css/common.css" type="text/css" />
</head>
